.banner_container {
  display: flex;
  gap: 1.5rem;
}

.banner_image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.banner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.banner_flex {
  flex: 1;
}

/* left & right layout */

.layout--left {
  flex-direction: row;
}

.layout--right {
  flex-direction: row-reverse;
}
