@import "tailwindcss";
@import "./styles/headings.css";

/* Base CSS variables or resets can go here if needed */
html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 antialiased;
}

main > section {
  max-width: 64rem; /* var(--container-5xl) 64rem = 1024px */
  display: flex;
  align-items: center; /* vertical centering of image + text */
  justify-content: center; /* center children horizontally inside the banner */
  margin: 0 auto; /* center this container within its parent */
}
