@import "tailwindcss";
@import "./styles/headings.css";

/* Base CSS variables or resets can go here if needed */
html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 antialiased;
}
