.form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #ddd;
  padding: 1rem;
  width: 100%;
}

.form :is(input:not([type="checkbox"]), textarea, select) {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  padding: 0.5rem;
}

.form button {
  padding: 0.25rem 2rem;
  border: 1px solid #ddd;
  width: 25%;
  background: #ddd;
}

.form fieldset {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.form input:is([type="checkbox"]) {
  margin: 0.5rem 1rem;
}

.form .form-label label {
  display: block;
  margin-bottom: 0.5rem;
}
